{{!-- {{email-input email=credentials.email}}
{{password-input password=credentials.password}} --}}

{{!-- <button type="submit" class="btn btn-primary" {{action "submit"}}>
  Sign In
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button> --}}

{{#md-card title="Log In" id="sign-in-card" class="col s12 m6 offset-m3"}}
    {{#md-card-content }}
      {{email-input email=credentials.email}}
      {{password-input password=credentials.password}}
      <div class="row">
      {{md-btn
        text='Log In'
        action='submit'
        class="col s12 m10 offset-m1 center-align submit-button"}}
      </div>
      <div class="row">
      {{md-btn icon='mdi-content-send'
        iconPosition='right'
        text='Cancel'
        action='reset'
        class="col s12 m10 offset-m1 center-align cancel-button"}}
      </div>
    {{/md-card-content}}

    {{#md-card-action}}
      {{#link-to 'sign-up' id="create-account-link"}}
        {{link-to 'Create account' 'sign-up'}}
      {{/link-to}}
    {{/md-card-action}}

{{/md-card}}
