{{#if isAuthenticated}}
<div class="new-contact-wppr row center-align">
    <button class="new-contact-button btn-floating btn-large" {{action "showContactPostForm"}} type="submit" name="Add a new contact">
      <i class="new-contact-icon material-icons">add</i>
      {{tooltip-on-element class="tool-tipped-dialogue" side="top" text="Add new contact info"}}
    </button>
</div>
{{/if}}

{{#if isContactPostForm}}
{{#md-modal id="add-new-contact-modal" close='closeModal'  class="new-contact-modal"}}
    <div class="modal-content">
      <div class="container">
        <p class="card-title">Add a new way to contact you</p>
        <!--Contact type Select-->
        <div class="row">
          {{md-select content=contactTypes
            value=contactData.contactType
            prompt="Select contact type"
            optionLabelPath="content.type"
            optionValuePath="content.type" class="col s12"}}
        </div>
        <!--Contact Address input-->
        <div class="row">
          {{md-input value=contactData.contactPath label='Contact Path' class="col s12" validate=true}}
        </div>
        <!--Submit button-->
        <div class="row">
          {{md-btn class="col s12 submit-button"
            buttonType="flat"
            text="Save"
            action="post"}}
        </div>
      </div>
    </div>
{{/md-modal}}
{{/if}}
