<!-- 1.Make modal area larger  -->

{{#md-modal close='closeModal' class="form-modal"}}
    <div class="modal-content">
      <p class="flow-text">New Contact</p>
      <div class="row">
        <!--show contact type-->
        {{#if isContactTypeInputShown}}
          {{input-modal/contact-type-input
            contactType=contactData.contactType
            isContactPathInputShown=isContactPathInputShown
            isContactTypeInputShown=isContactTypeInputShown}}
        {{/if}}
        <!--show contact path-->
        {{#if isContactPathInputShown}}
          {{input-modal/contact-path-input
            contactPath=contactData.contactPath
            isContactPathInputShown=isContactPathInputShown
            isContactConfirmationShown=isContactConfirmationShown
            }}
        {{/if}}
        <!--show contact path-->
        {{#if isContactConfirmationShown}}
          {{input-modal/contact-confirmation
            contactData=contactData
            submit="submit"}}
        {{/if}}
      </div>
    </div>

    {{!-- <div class="modal-footer"> --}}
      <!--Wire up update/edit function here-->
        <!-- Update Button-->
        {{!-- <a class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" {{action 'submit'}}>submit!</a> --}}
        <!-- Cancel Button-->
        {{!-- <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'closeModal'}}>Cancel</a> --}}
    {{!-- </div> --}}
{{/md-modal}}
