{{!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        <li>{{#link-to "users"}}Users{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav> --}}

{{#md-navbar name='Lynnelle Bennett' id="main-navbar"}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
    {{#link-to 'blogs' tagName='li'}}
      {{link-to 'Blog' 'blogs'}}
    {{/link-to}}
    {{#link-to 'profile' tagName='li'}}
      {{link-to 'About' 'profile'}}
    {{/link-to}}
    {{#link-to 'contacts' tagName='li'}}
      {{link-to 'Contact' 'contacts'}}
    {{/link-to}}
{{/md-navbar}}

{{!-- {{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}} --}}

<div class="container">
  {{outlet}}
  {{#if isAuthenticated}}
    {{admin-navigation}}
  {{/if}}
</div>



<footer class='page-footer white-text'>
    <div class="container">
        <div class="row">
          <!--Social Media Icons-->
            <div class="col s12">
                <ul id="social-media">
                  <!--Facebook-->
                  <li>
                    <a target="_blank" href="http://www.facebook.com/lynelle.bennett">
                      <img src="http://www.icons101.com/icon_ico/id_78875/facebook.ico" alt="" class="facebook"></a>
                    </li>
                    <!--Google+-->
                    <li>
                      <a target="_blank" href="http://www.plus.google.com">
                        <img src="http://voile-cap250.fr/wp-content/uploads/2016/10/google-plus_icon-icons.com_65930.png" alt="" class="Google-plus"></a>
                    </li>
                    <!--Twitter-->
                    <li>
                      <a target="_blank" href="http://www.twitter.com">
                        <img src="http://www.icons101.com/icon_ico/id_78915/twitter.ico" alt="" class="twitter"></a>
                    </li>
                    <!--linkedin-->
                    <li>
                      <a target="_blank" href="http://www.linkedin.com">
                        <img src="https://freeiconshop.com/wp-content/uploads/edd/linkedin-flat.png" alt="" class="linkedin"></a>
                    </li>
                </ul>
            </div>
          </div>
          <div class="row">
            <!--Site Map Links-->
            <div class="col s12">
                <ul id="site-map">
                  <li>AudioBooks</li>
                  <li> | </li>
                  <li>{{#link-to "blogs" class="footer-links"}}My Blog{{/link-to}}</li>
                  <li> | </li>
                  <li>{{#link-to "profile" class="footer-links"}}About{{/link-to}}</li>
                  <li> | </li>
                  <li>{{#link-to "contacts" class="footer-links"}}Contact{{/link-to}}</li>
                </ul>
            </div>

        </div>
    </div>
    {{#md-copyright text='Lynelle Bennett'
        startYear=2017
        class='white-text'}}
        <a class="white-text right" href="#!">
          Developer
        </a>
    {{/md-copyright}}
</footer>
