<!-- Navigation Bar-->
<nav class="site-navbar">
  {{#md-navbar name='Lynnelle Bennett' id="main-navbar"}}
    <!-- A workaround to get the "active" class
      to apply to the active <li> automatically -->
      {{#link-to 'blogs' tagName='li'}}
        {{link-to 'Blog' 'blogs'}}
      {{/link-to}}
      {{#link-to 'profile' tagName='li'}}
        {{link-to 'About' 'profile'}}
      {{/link-to}}
      {{#link-to 'contacts' tagName='li'}}
        {{link-to 'Contact' 'contacts'}}
      {{/link-to}}
      {{#if isAuthenticated}}
      {{#link-to "settings-page"}}<span class="hide-on-large-only">Settings</span>
        <i class="hide-on-med-and-down material-icons">settings</i>
      {{/link-to}}
      <div class="row">
        <div class="container">
          <button class="col s12 btn btn-large hide-on-large-only log-out-button" type="button" name="sign out button" {{action "logOut"}}>Logout</button>
        </div>
      </div>
      {{/if}}
  {{/md-navbar}}
</nav>


<!-- All of site contents -->
<main class="container-fluid main-content-container">
  {{outlet}}
  {{!-- {{#if isAuthenticated}}
    {{admin-navigation}}
  {{/if}} --}}
</main>

<!-- Site Footer-->
<footer class='page-footer white-text'>
    <div class="container">
        <div class="row">
          <!--Social Media Icons-->
            <div class="col s12">
                <ul id="social-media">
                  <!--Facebook-->
                  <li>
                    <a target="_blank" href="http://www.facebook.com/lynelle.bennett">
                      <img src="http://www.icons101.com/icon_ico/id_78875/facebook.ico" alt="" class="facebook"></a>
                    </li>
                    <!--Google+-->
                    <li>
                      <a target="_blank" href="http://www.plus.google.com">
                        <img src="http://voile-cap250.fr/wp-content/uploads/2016/10/google-plus_icon-icons.com_65930.png" alt="" class="Google-plus"></a>
                    </li>
                    <!--Twitter-->
                    <li>
                      <a target="_blank" href="http://www.twitter.com">
                        <img src="http://www.icons101.com/icon_ico/id_78915/twitter.ico" alt="" class="twitter"></a>
                    </li>
                    <!--linkedin-->
                    <li>
                      <a target="_blank" href="http://www.linkedin.com">
                        <img src="https://freeiconshop.com/wp-content/uploads/edd/linkedin-flat.png" alt="" class="linkedin"></a>
                    </li>
                </ul>
            </div>
          </div>
          <!--Site Map Links-->
          <div class="row">
            <div class="col s12">
                <ul id="site-map">
                  <li>AudioBooks</li>
                  <li> | </li>
                  <li>{{#link-to "blogs" class="footer-links"}}My Blog{{/link-to}}</li>
                  <li> | </li>
                  <li>{{#link-to "profile" class="footer-links"}}About{{/link-to}}</li>
                  <li> | </li>
                  <li>{{#link-to "contacts" class="footer-links"}}Contact{{/link-to}}</li>
                </ul>
            </div>
          </div>
    </div><!--/container-->
    <!--copyright-->
    {{#md-copyright text='Lynelle Bennett'
        startYear=2017
        class='white-text'}}
        <a class="white-text right" href="#!">
          Developer
        </a>
    {{/md-copyright}}
</footer>
