{{!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        <li>{{#link-to "users"}}Users{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav> --}}

{{#md-navbar name='Lynnelle Bennett'}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->

  <!--What Lynn sees in navbar-->
  {{#if isAuthenticated}}
  {{#md-btn-dropdown
    text="Your site"
    icon="material-icons"}}
    {{#link-to 'profile' tagName='li'}}
      {{link-to 'Bio' 'profile'}}
    {{/link-to}}
    {{#link-to 'blogs' tagName='li'}}
      {{link-to 'Blog' 'blogs'}}
    {{/link-to}}
    {{#link-to 'contacts' tagName='li'}}
      {{link-to 'Contact' 'contacts'}}
    {{/link-to}}
  {{/md-btn-dropdown}}
  {{#md-btn-dropdown
    text="Settings"
    icon="material-icons"}}
    {{#link-to 'users' tagName='li'}}
      {{link-to 'User' 'users'}}
    {{/link-to}}
    {{#link-to 'change-password' tagName='li'}}
      {{link-to 'Change Password' 'change-password'}}
    {{/link-to}}
    <li class="divider"></li>
    <li><a href="#" {{action "signOut"}} class="sign-out-button">Sign Out</a></li>
  {{/md-btn-dropdown}}
  <!--What visitors see in navbar-->
  {{else}}
    {{#link-to 'profile' tagName='li'}}
      {{link-to 'Bio' 'profile'}}
    {{/link-to}}
    {{#link-to 'blogs' tagName='li'}}
      {{link-to 'Blog' 'blogs'}}
    {{/link-to}}
    {{#link-to 'contacts' tagName='li'}}
      {{link-to 'Contact' 'contacts'}}
    {{/link-to}}
    {{#link-to 'sign-in' tagName='li'}}
      {{link-to 'Sign In' 'sign-in'}}
    {{/link-to}}
  {{/if}}
{{/md-navbar}}

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="container">
  {{outlet}}
</div>
