<div class="col m8">
  <span class="card-title">Basic Info</span>
  {{#each profile as |profile|}}
  {{#md-card id="basic-info-card"}}
      {{#md-card-action}}
      Full Name: {{profile.fullName}}
      {{/md-card-action}}

      {{#md-card-action}}
      Birthday: {{profile.birthday}}
      {{/md-card-action}}

      {{#md-card-action}}
      <a href="#" {{action "showUpdateBasicInfo"}}>Edit basic info</a>
      {{/md-card-action}}
  {{/md-card}}

  <!--Change basic-info modal-->
    {{#if isChangeBasicInfoShown}}
    {{settings-action/update-basic-info
        updateBasicInfo="updateBasicInfo"
        isChangeBasicInfoShown=isChangeBasicInfoShown
        profile=profile}}
    {{/if}}
  {{/each}}


  {{!-- {{#md-card id="contact-info-card"}}
    {{#each contacts as |contact|}}
      {{#md-card-action}}
        {{contact.contactType}}:
        {{contact.contactPath}}
      {{/md-card-action}}
    {{/each}}
      {{#md-card-action}}
        <a href="#">Edit contact info</a>
      {{/md-card-action}}
  {{/md-card}} --}}
</div>


<div class="col s12 m4">
  <span class="card-title">Options</span>
  {{#md-card id="settings-options"}}

    {{#md-card-action}}
      <a href="#" {{action "showChangePw"}}>Change password</a>
    {{/md-card-action}}

    {{#md-card-action}}
    {{#link-to 'profile'}}
      {{link-to 'Edit About Me' 'profile'}}
    {{/link-to}}
    {{/md-card-action}}

    {{#md-card-action}}
    {{#link-to 'blogs'}}
      {{link-to 'Edit Blog Posts' 'blogs'}}
    {{/link-to}}
    {{/md-card-action}}

    {{#md-card-action}}
    {{#link-to 'contacts'}}
      {{link-to 'Edit Contacts' 'contacts'}}
    {{/link-to}}
    {{/md-card-action}}

  {{/md-card}}
</div>

<div class="row">
  <div class="col s12">
    {{md-btn class="delete-button col s12 btn btn-large" action="logOut" text="Sign Out"}}
  </div>
</div>

<!--Change PW modal-->

{{#if isChangePwShown}}
{{settings-action/change-password changePw="changePw" isChangePwShown=isChangePwShown }}
{{/if}}
