{{#if isAuthenticated}}
<div class="s10 m6 right-align">
  <!--Edit blog button-->
  <button class="btn" {{action "edit" blog}} type="submit" name="action">Edit
    <i class="edit-blog-icon material-icons right">edit_mode</i>
    {{tooltip-on-element delayOnChange=true delay=1000
      class="tool-tipped-dialogue"
      side="top"
      text="Edit this post"}}
  </button>
  <!--Delete blog button-->
  <button class="s2 m2 btn delete-blog-button delete-button" {{action "delete"}} type="submit" name="action">
    <i class="delete-icon material-icons">delete_forever</i>
    {{tooltip-on-element delayOnChange=true delay=1000
      class="tool-tipped-dialogue"
      side="top"
      text="Delete this post"}}
  </button>
  <!--confirmation dialogue modal-->
  {{confirm-delete contentPreview=blog.content
    contentTitle=blog.title
    deleteBlog=deleteBlog
    showConfirmation=showConfirmation
    modelToBeDeleted="blog post"}}
</div>
{{else}}
<!--Replace with Facebook like button-->
<a href="#" {{action "like"}}>Like</a>
{{/if}}

<!--If authenticated show admin-tools-->
{{#if isEditBlogFormOpen}}
{{blog-actions/edit-blog
    isEditBlogFormOpen=isEditBlogFormOpen
    editBlog=editBlog
    blog=blog }}
{{/if}}
