{{#if isAuthenticated}}
<div class="s10 m6 right-align">
  <button class="btn waves-effect" {{action "edit" blog}} type="submit" name="action">Edit
    <i class="edit-blog-icon material-icons right">edit_mode</i>
    {{tooltip-on-element class="tool-tipped-dialogue" side="top" text="Edit this post"}}
  </button>

  <button class="s2 m2 btn waves-effect delete-blog-button delete-button" {{action "delete" blog}} type="submit" name="action">
    <i class="delete-icon material-icons">delete_forever</i>
    {{tooltip-on-element class="tool-tipped-dialogue" side="top" text="Delete this post"}}
  </button>
</div>

{{else}}
<a href="#" {{action "like"}}>Like</a>
{{/if}}

{{#if isEditBlogFormOpen}}
{{blog-actions/edit-blog
    isEditBlogFormOpen=isEditBlogFormOpen
    editBlog=editBlog
    blog=blog }}
{{/if}}
