
  <button class="s1 m6 btn waves-effect delete-contact-button delete-button hide-on-small-only" {{action "deleteConfirm"}} type="submit" name="delete this contact button">
    <i class="delete-icon material-icons">delete_forever</i>
    {{tooltip-on-element side="left" text="Delete Contact"}}
  </button>
  <a class="s1 m6 delete-contact-button delete-button-small hide-on-med-and-up" {{action "delete" contact}} type="submit" name="delete this contact button">
    <i class="delete-icon material-icons">highlight_off</i>
    {{tooltip-on-element side="top" text="Delete Contact"}}
  </a>


  <!--confirmation dialogue-->
  {{confirm-delete object=contact
    deleteAction="delete" showConfirmation=showConfirmation
    modelToBeDeleted="contact"
    }}
